#backgroundImg{
	position: relative;
	border: 10px solid black;
	width: 800px;
	height: 400px;
	background: url(../images/Background.gif);
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 10%
}

#player{
	position: absolute;
	height:240px;
	width:150px;
	left: 50px;
	top: 150px;
}

#ken {
	position: absolute;
}

#ken p{
	color: white;
	background-color: black;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	border: 1px solid white;
}

#opponent{
	position: absolute;
}

#opponent p{
	color: white;
	background-color: black;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 718px;
	padding: 10px;
	width: 60px;
	border: 1px solid white;
}

#opponentImg{
	position: absolute;
	width: 130px;
	height: 200px;
	left: 630px;
	top: 150px;
	-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
}

#attackBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid white;
	position: absolute;
	left: 40%;
	width:20%;
	text-align: center;
	top:330px;
}

#restBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid;
	position: absolute;
	left:40%;
	width:20%;
	text-align: center;
	top:360px;
}
#restartBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid;
	position: absolute;
	left:40%;
	width:20%;
	text-align: center;
	top:300px;
}

#attackBtn:hover, #restBtn:hover, #restartBtn:hover{
	background-color: red;
}



#status{
	position: absolute;
	text-align: center;
	padding: 10px;
	top:0%;
	left: 34%;
	color:white;
	background-color: black;
	border: 1px solid white;
}

/*===========================================================
HADOUKEN SUPER FINISH!!!
===========================================================*/

/*Use Display none to hide images on HTML and to access using jquery*/

.kenBounce {
  background-image: url('../images/KenBounce.gif');
	display: none;
}

.kenFire {
	background-image: url('../images/KenFire.png');
	display: none;
}


.hadouken {
	float: left;
}

.hadouken {
  background-image: url('../images/Hadouken.gif');
	background-size: cover;
  width: 180px;
  height: 100px;
  display: none;
  position: relative;
  top: 175px;
  left: 100px;
/*Use a Z-index higher than other elements so it displays over them*/
  z-index: 1;
}

.kenStill, .kenBounce, .kenFire{
	height: 240px;
	width:150px;
	background-size: 100% 100%;

}
