body{
	font-family: Helvetica, Arial;
	font-size: 12px;

}

#backgroundImg{
	position: relative;
	border: 10px solid black;
	width: 800px;
	height: 400px;
	background: url(../images/Background.gif);
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 10%
}

#player{
	position: absolute;
	height:110px;
	width:100%;
	margin-top:145px;
}

#guile{
	position: absolute;
	width:200px;
	height:250px;
	left: 60px;
}

#guile p{
	position: absolute;
	margin-left: 30px;
	margin-bottom:0
}

#guile .name{
	margin-top:40px;
}

#opponent{
	position: absolute;
	top:10px;
	width:300px;
}

#opponent p{
	margin-left: 30px;
	margin-bottom:0;
	margin-top:0;
}

#opponentImg{
	position: absolute;
	width:130px;
	height:130px;
	left: 335px;
	top:20px;
	transition: transform .5s;
}

#status{
	position: absolute;
	text-align: center;
	padding: 10px;
	top:30%;
	left: 35%;
	color:white;
	background-color: black;
}

#attackBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid white;
	position: absolute;
	left:75%;
	width:20%;
	text-align: center;
	top:320px;
}

#restBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid;
	position: absolute;
	left:75%;
	width:20%;
	text-align: center;
	top:350px;
}
