#backgroundImg{
	position: relative;
	border: 10px solid black;
	width: 800px;
	height: 400px;
	background: url(../images/Background.gif);
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 10%
}

#player{
	position: absolute;
	height:240px;
	width:190px;
	left: 50px;
	top: 60px;
}

#guile {
	position: absolute;
	width: 200px;
	height:200px;
	left: 50px;
	top: 60px;
}

#opponent{
	position: absolute;
	top:10px;
	width:300px;
}

#opponent p{
	margin-left: 30px;
	margin-bottom:0;
	margin-top:0;
}

#opponentImg{
	position: absolute;
	width:130px;
	height:130px;
	left: 335px;
	top:20px;
	transition: transform .5s;
}

#attackBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid white;
	position: absolute;
	left:75%;
	width:20%;
	text-align: center;
	top:320px;
}

#restBtn{
	cursor: pointer;
	color: white;
	background-color: black;
	border:1px solid;
	position: absolute;
	left:75%;
	width:20%;
	text-align: center;
	top:350px;
}


#status{
	position: absolute;
	text-align: center;
	padding: 10px;
	top:30%;
	left: 35%;
	color:white;
	background-color: black;
}
